USE [master]
GO
/****** Object:  Database [TICHEDU]    Script Date: 22-May-18 9:28:56 PM ******/
CREATE DATABASE [TICHEDU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TICHEDU', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TICHEDU.mdf' , SIZE = 26624KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TICHEDU_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TICHEDU_log.ldf' , SIZE = 16576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TICHEDU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TICHEDU]
GO
/****** Object:  Table [dbo].[TBL_STUDENT_REGISTRATION]    Script Date: 22-May-18 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_STUDENT_REGISTRATION](
	[STUDENT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[STUDENT_FIRST_NAME] [varchar](max) NULL,
	[STUDENT_LASTNAME] [varchar](max) NULL,
	[STUDENT_DOB] [date] NULL,
	[STUDENT_SEX] [varchar](max) NULL,
	[STUDENT_STUDYING_IN] [varchar](max) NULL,
	[STUDENT_SPECIALIZATION] [varchar](max) NULL,
	[STUDENT_EMAIL] [varchar](max) NULL,
	[STUDENT_CONTACT] [bigint] NULL,
	[STUDENT_ADDRESS] [varchar](max) NULL,
	[STUDENT_COUNTRY] [varchar](max) NULL,
	[STUDENT_CITY] [varchar](max) NULL,
	[STUDENT_STREET] [varchar](max) NULL,
	[STUDENT_ZIP] [varchar](max) NULL,
	[STUDENT_USERNAME] [varchar](max) NULL,
	[STUDENT_PASSWORD] [varchar](max) NULL,
	[STUDENT_WHERE_HERE_ABOUT] [varchar](max) NULL,
	[STUDENT_PHOTO] [varbinary](max) NULL,
 CONSTRAINT [PK_TBL_STUDENT_REGISTRATION] PRIMARY KEY CLUSTERED 
(
	[STUDENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_TEACHER_REGISTRATION]    Script Date: 22-May-18 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_TEACHER_REGISTRATION](
	[TEACHER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TEACHER_FIRST_NAME] [varchar](max) NULL,
	[TEACHER_LASTNAME] [varchar](max) NULL,
	[TEACHER_DOB] [date] NULL,
	[TEACHER_SEX] [varchar](max) NULL,
	[TEACHER_QUALIFICATION] [varchar](max) NULL,
	[TEACHER_SUBJECT] [varchar](max) NULL,
	[TEACHER_SPECIALIZATION] [varchar](max) NULL,
	[TEACHER_EMAIL] [varchar](max) NULL,
	[TEACHER_CONTACT] [bigint] NULL,
	[TEACHER_ADDRESS] [varchar](max) NULL,
	[TEACHER_COUNTRY] [varchar](max) NULL,
	[TEACHER_CITY] [varchar](max) NULL,
	[TEACHER_STREET] [varchar](max) NULL,
	[TEACHER_ZIP] [varchar](max) NULL,
	[TEACHER_USERNAME] [varchar](max) NULL,
	[TEACHER_PASSWORD] [varchar](max) NULL,
	[TEACHER_WHERE_HERE_ABOUT] [varchar](max) NULL,
	[TEACHER_PHOTO] [varbinary](max) NULL,
 CONSTRAINT [PK_TBL_TEACHER_REGISTRATION] PRIMARY KEY CLUSTERED 
(
	[TEACHER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_VIDEO_UPLOAD]    Script Date: 22-May-18 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_VIDEO_UPLOAD](
	[VIDEO_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [varchar](50) NULL,
	[VIDEO_UPLOAD_TYPE] [varchar](50) NULL,
	[VIDE0_TITLE] [varchar](max) NULL,
	[VIDEO_FOR_CLASS] [varchar](50) NULL,
	[VIDEO_FILE] [varbinary](max) NULL,
 CONSTRAINT [PK_TBL_VIDEO_UPLOAD] PRIMARY KEY CLUSTERED 
(
	[VIDEO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[STUDENT_REGISTRATION_INSERT]    Script Date: 22-May-18 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[STUDENT_REGISTRATION_INSERT]
	-- Add the parameters for the stored procedure here
	@TEACHER_FIRST_NAME VARCHAR(max),
	@TEACHER_LAST_NAME VARCHAR(max),
	@TEACHER_DOB DATE,
	@TEACHER_SEX VARCHAR(max),
	
	@STUDENT_STUDYINGIN VARCHAR(50),
	@TEACHER_SPECIALIZATION VARCHAR (max),
	@TEACHER_EMAIL VARCHAR (max),
	@TEACHER_CONTACT bigint,
	@TEACHER_ADDRESS VARCHAR (max),
	@TEACHER_COUNTRY VARCHAR (max),
	@TEACHER_CITY VARCHAR (max),
	@TEACHER_STREET VARCHAR (max),
	@TEACHER_ZIP VARCHAR (max),
	@TEACHER_USERNAME VARCHAR (max),
	@TEACHER_PASSWORD VARCHAR (max),
	@TEACHER_WHERE_HERE_ABOUT VARCHAR (max),
	@TEACHER_PHOTO varbinary(max)


AS
BEGIN
	
	INSERT INTO TBL_STUDENT_REGISTRATION (STUDENT_FIRST_NAME,STUDENT_LASTNAME,STUDENT_DOB,STUDENT_SEX,STUDENT_STUDYING_IN,STUDENT_SPECIALIZATION,STUDENT_EMAIL,STUDENT_CONTACT,STUDENT_ADDRESS,STUDENT_COUNTRY,STUDENT_CITY,STUDENT_STREET,STUDENT_ZIP,STUDENT_USERNAME,STUDENT_PASSWORD,STUDENT_WHERE_HERE_ABOUT,STUDENT_PHOTO)VALUES(
	@TEACHER_FIRST_NAME,@TEACHER_LAST_NAME,@TEACHER_DOB,@TEACHER_SEX ,@STUDENT_STUDYINGIN ,@TEACHER_SPECIALIZATION ,@TEACHER_EMAIL ,
	@TEACHER_CONTACT,
	@TEACHER_ADDRESS ,
	@TEACHER_COUNTRY ,
	@TEACHER_CITY ,
	@TEACHER_STREET ,
	@TEACHER_ZIP ,
	@TEACHER_USERNAME,
	@TEACHER_PASSWORD ,
	@TEACHER_WHERE_HERE_ABOUT,
	@TEACHER_PHOTO )

END

GO
/****** Object:  StoredProcedure [dbo].[TEACHER_REGISTRATION_INSERT]    Script Date: 22-May-18 9:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TEACHER_REGISTRATION_INSERT]
	-- Add the parameters for the stored procedure here
	@TEACHER_FIRST_NAME VARCHAR(max),
	@TEACHER_LAST_NAME VARCHAR(max),
	@TEACHER_DOB DATE,
	@TEACHER_SEX VARCHAR(max),
	@TEACHER_QUALIFICATION VARCHAR(max),
	@TEACHER_SUBJECT VARCHAR(50),
	@TEACHER_SPECIALIZATION VARCHAR (max),
	@TEACHER_EMAIL VARCHAR (max),
	@TEACHER_CONTACT bigint,
	@TEACHER_ADDRESS VARCHAR (max),
	@TEACHER_COUNTRY VARCHAR (max),
	@TEACHER_CITY VARCHAR (max),
	@TEACHER_STREET VARCHAR (max),
	@TEACHER_ZIP VARCHAR (max),
	@TEACHER_USERNAME VARCHAR (max),
	@TEACHER_PASSWORD VARCHAR (max),
	@TEACHER_WHERE_HERE_ABOUT VARCHAR (max),
	@TEACHER_PHOTO varbinary(max)


AS
BEGIN
	
	INSERT INTO TBL_TEACHER_REGISTRATION (TEACHER_FIRST_NAME,TEACHER_LASTNAME,TEACHER_DOB,TEACHER_SEX,TEACHER_QUALIFICATION,TEACHER_SUBJECT,TEACHER_SPECIALIZATION,TEACHER_EMAIL,TEACHER_CONTACT,TEACHER_ADDRESS,TEACHER_COUNTRY,TEACHER_CITY,TEACHER_STREET,TEACHER_ZIP,TEACHER_USERNAME,TEACHER_PASSWORD,TEACHER_WHERE_HERE_ABOUT,TEACHER_PHOTO)VALUES(
	@TEACHER_FIRST_NAME,@TEACHER_LAST_NAME,@TEACHER_DOB,@TEACHER_SEX ,@TEACHER_QUALIFICATION ,@TEACHER_SUBJECT ,@TEACHER_SPECIALIZATION ,@TEACHER_EMAIL ,
	@TEACHER_CONTACT,
	@TEACHER_ADDRESS ,
	@TEACHER_COUNTRY ,
	@TEACHER_CITY ,
	@TEACHER_STREET ,
	@TEACHER_ZIP ,
	@TEACHER_USERNAME,
	@TEACHER_PASSWORD ,
	@TEACHER_WHERE_HERE_ABOUT,
	@TEACHER_PHOTO )

END

GO
USE [master]
GO
